<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<p>{{ site.title }}</p>
				<img class="img-fluid" src="../images/logo/lab-logo.png"
				     style="max-width: 100px;">
			</div>

			<div class="col-sm-4">
				<p>Links</p>
				<ul class="list-unstyled">
					<li><a href="https://github.com/ericdaat/research-lab-website">Github Repository</a></li>
					<li><a href="">Link</a></li>
					<li><a href="">Link</a></li>
					<li><a href="">Link</a></li>
				</ul>
			</div>

			<div class="col-sm-4">
				<p>Contact</p>
				<p>Some Address</p>
			</div>
		</div>

		<div class="row mt-3">
			<p class="text-center">Copyright, 2019</p>
		</div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
